thead {
    position: sticky;
    top: 0;
}

td {
    word-break: keep-all;
    white-space: nowrap;
}

li {
    list-style: none;
}

nav {
    position: fixed;
    z-index: 1;
    right: 0;
    width: 20px;
    padding: 20px;
}

nav:hover{
    width: auto;
    background-color: white;
}
